.container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.window {
    display: flex;  
    background-color: #444;
    align-items: center;
    justify-content: center;
}

canvas {
    vertical-align: bottom;
}
